In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("../data/AUD_CAD_H4.pkl")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    4000 non-null   datetime64[ns, tzutc()]
 1   volume  4000 non-null   int64
 2   mid_o   4000 non-null   float64
 3   mid_h   4000 non-null   float64
 4   mid_l   4000 non-null   float64
 5   mid_c   4000 non-null   float64
 6   bid_o   4000 non-null   float64
 7   bid_h   4000 non-null   float64
 8   bid_l   4000 non-null   float64
 9   bid_c   4000 non-null   float64
 10  ask_o   4000 non-null   float64
 11  ask_h   4000 non-null   float64
 12  ask_l   4000 non-null   float64
 13  ask_c   4000 non-null   float64
dtypes: datetime64[ns, tzutc()](1), float64(12), int64(1)
memory usage: 437.6 KB

In [4]:
df.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2021-11-08 22:00:00+00:00,3683,0.92370,0.92420,0.92121,0.92133,0.92330,0.92384,0.92111,0.92125,0.92410,0.92504,0.92129,0.92141
1,2021-11-09 02:00:00+00:00,4273,0.92132,0.92337,0.92032,0.92294,0.92123,0.92327,0.92023,0.92286,0.92140,0.92347,0.92040,0.92303
2,2021-11-09 06:00:00+00:00,4924,0.92294,0.92419,0.92246,0.92350,0.92285,0.92411,0.92238,0.92342,0.92303,0.92427,0.92253,0.92357
3,2021-11-09 10:00:00+00:00,3855,0.92354,0.92379,0.92030,0.92132,0.92347,0.92371,0.92023,0.92124,0.92362,0.92387,0.92038,0.92139
4,2021-11-09 14:00:00+00:00,6770,0.92134,0.92240,0.91718,0.91766,0.92127,0.92232,0.91711,0.91758,0.92142,0.92247,0.91726,0.91773